---
layout: heypenny
title: Get Heypenny premium for free
hide_title_suffix: true
description: Expenses with friends made easy
featured_image: /images/heypenny/heypenny-share-preview.png
hide_header_footer: true
sitemap: false
---

<script>
  if (!window.location.host.includes('127.0.0.1') && !window.location.host.includes('localhost')) {
    const searchParams = new URLSearchParams(window.location.search);
    const inviteId = searchParams.get('i') ?? 'none';
    posthog.capture('join-page-viewed', {inviteId: inviteId})
  }
</script>

<div class="hero home">
  <div class="inside">
    <h1 class="join-title">
      <a href="/">
        <picture class="wordmark">
          <source
              srcset="/images/heypenny/heypenny-wordmark-dark.svg"
              media="(prefers-color-scheme: dark)">
          <img src="/images/heypenny/heypenny-wordmark.svg" alt="Heypenny app logo">
        </picture>
      </a>
      <span class="premium-heading">
        <a href="/premium" class="premium-link">
          {% include premium-laurel-leading.html %}
          premium
          {% include premium-laurel-trailing.html %}
        </a>
      </span>
    </h1>

    <p id="valid-header" class="join-description">Get Heypenny premium for free</p>
    <div class="premium-warning" id="premium-link-invalid"
        style="display: none; margin-bottom: 0; margin-top: 0;">
      <p>This premium invite has expired.</p>
      <p>You can still create a free account by downloading the app above.</p>
    </div>

    <p class="flow-row">
      <a href="https://apps.apple.com/app/id6478797377">
        <img src="/images/distribution/app-store-badge.svg"
            alt="Download the iOS app on the App Store" class="store-icon"/>
      </a>
      <a href="https://play.google.com/store/apps/details?id=io.moelten.heypenny">
        <img src="/images/distribution/google-play-badge.svg"
            alt="Download the Android app on the Play Store" class="store-icon"/>
      </a>
    </p>
    <p class="caption" id="no-fallback">Follow this link again after you have the app installed</p>
    <p class="caption" id="invite-fallback" style="display: none">After you install the app, follow
      this link again or <a id="invite-link" href="heypenny://join">click&nbsp;here</a></p>
    <script>
      const searchParams = new URLSearchParams(window.location.search);
      const inviteId = searchParams.get('i');
      if (inviteId) {
        document.getElementById('invite-link').href = "heypenny://join?i=" + inviteId
        document.getElementById('invite-fallback').style.display = null
        document.getElementById('no-fallback').style.display = "none"
        document.getElementById('premium-link-invalid').style.display = "none"
        document.getElementById('valid-header').style.display = null
      }

      fetch('https://api.heypenny.money/invite/details?inviteId=' + inviteId)
        .then((res) => res.json())
        .then((data) => {
          console.log(data)
          if (!data.isStillValid || !data.givesPremium) {
            document.getElementById('invite-fallback').style.display = "none"
            document.getElementById('no-fallback').style.display = "none"
            document.getElementById('premium-link-invalid').style.display = null
            document.getElementById('valid-header').style.display = "none"

            if (
              !window.location.host.includes('127.0.0.1') &&
              !window.location.host.includes('localhost')
            ) {
              posthog.capture('expired-invite-viewed', {inviteId: inviteId})
            }
          }
        })

    </script>
    <footer class="compact">
      <p class="footer-link">
        <a href="/terms-of-service">Terms of Service</a>&emsp;·&emsp;<a href="/privacy-policy">Privacy
          Policy</a>
      </p>
      <p class="footer-link">
        <a href="/">Home</a>&emsp;·&emsp;<a href="/community">Community</a>&emsp;·&emsp;<a href="/contact">Support</a>
      </p>
    </footer>
  </div>
</div>
