---
layout: heypenny
title: Premium
description: Heypenny premium and pricing
---

<h1 class="premium">
  <picture class="wordmark">
    <source
        srcset="/images/heypenny/heypenny-wordmark-dark.svg"
        media="(prefers-color-scheme: dark)">
    <img src="/images/heypenny/heypenny-wordmark.svg" alt="Heypenny">
  </picture>
  <span class="premium-heading">
    {% include premium-laurel-leading.html %}
    premium
    {% include premium-laurel-trailing.html %}
  </span>
</h1>

<ul class="premium-list">
  <li>
    <p>Create groups</p>
    <p class="caption">Settle up later + track balances over time</p>
  </li>
  <li>
    <p>Bring your friends</p>
    <p class="caption">Joining groups is free</p>
  </li>
  <li>
    <p>Everyone gets all features</p>
    <p class="caption">Scan receipts directly into groups</p>
    <p class="caption">Create and edit expenses</p>
    <p class="caption">Settle up on Venmo</p>
    <p class="caption">More coming soon!</p>
  </li>
</ul>

<p>
  <nobr><span class="premium-price">$3/month</span></nobr>
  <nobr>($9/3 months)</nobr>
  or
  <nobr><span class="premium-price">$2/month</span></nobr>
  <nobr>($24/year).</nobr>
</p>
<p>
  Sign up in our
  <nobr><a href="https://apps.apple.com/app/id6478797377" class="external-link">iOS app</a></nobr>
  or
  <nobr><a
        href="https://play.google.com/store/apps/details?id=io.moelten.heypenny"
        class="external-link"
    >Android app</a>.
  </nobr>
</p>

<div class="premium-warning">
  <p>
    Unless you’re creating a new group, you probably don’t need premium!
  </p>
  <p>
    Only one person per group needs premium.
  </p>
</div>


<h2 id="faq">Frequently asked questions</h2>

<details>
  <summary>What can I do with premium?</summary>
  <ul>
    <li>Create as many groups and expenses as you need</li>
    <li>Scan receipts directly into groups to settle up later</li>
    <li>Allow friends to create and edit expenses in your groups</li>
    <li>Do everything you can without premium</li>
  </ul>
</details>

<details>
  <summary>What can I do without premium?</summary>
  <ul>
    <li>Scan receipts and send an image of balances</li>
    <li>Join as many groups as you need</li>
    <li>Create expenses in groups that have a premium group member</li>
    <li>Scan receipts directly into groups that have a premium group member</li>
    <li>Settle up in any group (including ones with no premium member)</li>
  </ul>
</details>

<details>
  <summary>Do I need premium to create a group?</summary>
  <p>Yes, only people with premium can create groups.</p>
</details>

<details>
  <summary>Do I need premium to join a group?</summary>
  <p>Nope! You can join as many groups as you need, for free.</p>
  <p>As long as at least one other person in the group has premium, everyone in the group can
    create and edit expenses in that group.</p>
</details>

<details>
  <summary>Are there limits on how many groups or expenses I can have?</summary>
  <p>For the most part, no! You can create as many groups and expenses as you need.</p>
  <p>We may take action in rare cases where we believe someone is abusing the service.</p>
</details>

<details>
  <summary>What happens when there are no premium members in a group?</summary>
  <p>The group becomes locked. Nothing is deleted, but no expenses can be created or edited
    (except settling up) until there’s a premium member in the group again.</p>
</details>

<details>
  <summary>Can I settle up in a locked group?</summary>
  <p>Yes! You can settle up, but cannot create or edit other expenses until there’s a premium member
    in the group again.</p>
</details>

<details>
  <summary>How do I cancel my premium subscription?</summary>
  <p>You can cancel your premium subscription in the App Store or Play Store (whichever one you
    bought it from).</p>
  <p>There’s also a link to manage your subscription on the settings page in the Heypenny app, to make
    things easy.</p>
</details>
