---
layout: heypenny
title: Heypenny – Split bills fairly
hide_title_suffix: true
description: Download the Heypenny app
featured_image: /images/heypenny/heypenny-share-preview.png
---

<script>
  if (!window.location.host.includes('127.0.0.1') && !window.location.host.includes('localhost')) {
    const searchParams = new URLSearchParams(window.location.search);
    const redirectedFrom = searchParams.get('r') ?? 'none';
    posthog.capture('main-page-viewed', {redirectedFrom: redirectedFrom})
  }
</script>

<div class="home">
  <section class="hero">
    <div class="inside">
      <picture class="logo">
        <source
            srcset="/images/heypenny/heypenny-logo-dark.svg"
            media="(prefers-color-scheme: dark)">
        <img src="/images/heypenny/heypenny-logo.svg" alt="Heypenny app logo">
      </picture>
      <h1 class="below-logo">Split
        <span id="split-object"><span id="split-content">bills</span></span>
        fairly</h1>
      <script>
        function animateSectionWidth(element) {
          let sectionWidth = element.firstChild.offsetWidth;
          element.style.width = sectionWidth + 'px';
        }

        function startTimer() {
          const options = [
            "bills",
            "receipts",
            "trips",
            "rent",
            "brunch",
            "groceries",
            "taxis",
            "dinners",
            "hotels",
            "drinks",
            "bills",
          ]
          let displayed = 0
          animateSectionWidth(document.getElementById("split-object"))
          setTimeout(function () {
            setInterval(function () {
              displayed++
              if (displayed >= options.length) {
                displayed = 0
              }

              document.getElementById("split-content").textContent = options[displayed]
              animateSectionWidth(document.getElementById("split-object"))
            }, 3000);
          }, 1000);
        }

        window.onload = function () {
          startTimer();
        };
      </script>
      <p class="flow-row">
        <a href="https://apps.apple.com/app/id6478797377">
          <img src="/images/distribution/app-store-badge.svg"
              alt="Download the iOS app on the App Store" class="store-icon"/>
        </a>
        <a href="https://play.google.com/store/apps/details?id=io.moelten.heypenny">
          <img src="/images/distribution/google-play-badge.svg"
              alt="Download the Android app on the Play Store" class="store-icon"/>
        </a>
      </p>
      <p class="footer-link compact">
        <a href="/terms-of-service">Terms of Service</a>&emsp;·&emsp;<a href="/privacy-policy">Privacy
          Policy</a>
      </p>
    </div>
  </section>

  <section class="receipt">
    <div class="two-column">
      <div class="half-column">
        <h2>Scan + split receipts</h2>
        <ul>
          <li>
            <p>Scan receipts</p>
            <p class="caption">Take a picture and we'll itemize it</p>
          </li>
          <li>
            <p>Split with friends</p>
            <p class="caption">We'll calculate everyone's totals, tip + tax included</p>
          </li>
          <li>
            <p>Secure and private</p>
            <p class="caption">Receipts are scanned on your phone</p>
            <p class="caption">Your data is never shared or sold</p>
          </li>
        </ul>
      </div>
      <div class="half-column screenshots">
        <img src="/images/screenshots/receipts.png"
            alt="Screenshots showing Heypenny in use, including a receipt with boxes around recognized items, a page where each person picks the items they got, and a page with the group's totals">
      </div>
    </div>
  </section>

  <section class="groups">
    <div class="two-column">
      <div class="half-column">
        <h2>Create groups</h2>
        <p class="premium-tag">
          <a href="/premium">
            {% include premium-laurel-leading.html %}
            premium
            {% include premium-laurel-trailing.html %}
          </a>
        </p>
        <ul>
          <li>
            <p>Skip the frequent payments</p>
            <p class="caption">Enter now and settle up later</p>
          </li>
          <li>
            <p>Repay on Venmo</p>
            <p class="caption">CashApp coming soon!</p>
            <p class="caption">(We are not affiliated with Venmo)</p>
          </li>
          <li>
            <p>A group for everyone</p>
            <p class="caption">Happy hour friends, trips, partners, or
              housemates</p>
          </li>
        </ul>
      </div>
      <div class="half-column screenshots">
        <img src="/images/screenshots/groups.png"
            alt="Screenshots showing Heypenny in use, including a list of groups and how much the person owes in each, a detail view of a single group showing the relative balances of each person in the group, and a view showing suggested payments to resolve all balances">
      </div>
    </div>
  </section>
</div>
