<form method="POST" action="https://formspree.io/f/xqkrdbdy">
  <p>
    <label for="name">Your name:</label>
    <input id="name" type="text" name="name" placeholder="Jane Doe"/>
  </p>

  <p>
    <label for="email">Your email:</label>
    <input id="email" type="email" name="email" placeholder="you@example.com"/>
  </p>

  <p>
    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea>
  </p>

  <p>
    <button type="submit" class="button dark">Send</button>
  </p>
</form>
